<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Subcontracts Sandbox </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
</head>
<body >
<div class="container" data-ng-app="subcontractorsApp">
    <section data-ng-controller="resultsController">
        <!-- search -->
        <div id="search">
            <form>
                <div class="form-group">
                    <h4>Company</h4>
                    <label class="sr-only" for="keyword">Search Company</label>
                    <input class="col-sm-12 form-control" type="text" id="keyword" data-ng-model="search.contractor" placeholder="All" autocomplete="off">
                    <small>Type any part of a company name to filter the list</small>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <h4>NAICS Code</h4>
                        <select class="form-control" data-ng-model="search.naics_front" data-ng-change="changeNaics()" data-ng-options="contract.naics_front as contract.naics_front for contract in contracts | unique : 'naics_front'| orderBy :
                                'naics_front'">
                        </select>
                        <small>Select a three digit category</small>
                        <em class="clear-filter" data-ng-show="filterNaics" data-ng-click="clearNaics()">X</em>
                    </div>
                    <div class="form-group col-md-3">
                        <h4>Company Location</h4>
                        <select class="form-control" data-ng-model="search.state" data-ng-change="changeCompLoc()">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                        <small>Select state of company headquarters</small>
                        <em class="clear-filter" data-ng-show="filterCompLoc" data-ng-click="clearCompLoc()">X</em>
                    </div>
                    <div class="form-group span3">
                        <label for="performance-local">Place of Performance <br>
                            <small>Select state in which work takes place</small></label>
                        <select multiple id="performance-local" class="form-control" data-ng-model="search.performance_state" data-ng-change="changePerformPlace()">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                        <em class="clear-filter" data-ng-show="filterPerformPlace" data-ng-click="clearPerformPlace()">X</em>
                    </div>
                </div><!-- end filters -->
            </form>
        </div>

        <!-- Landing Display -->
        <div id="landing-screen">
            <p class="alert"><strong>Disclaimer</strong>: The General Services Administration (GSA) obtains the names and addresses for this listing from the Federal Procurement Data System (FPDS) when a large business receives a Federal contract over $650,000 ($1.5 million for construction contracts).<br>Please note that GSA does not have the authority to require a prime contractor to use a particular small business. However, GSA’s Small Business Technical Advisors (SBTAs) can provide assistance to small businesses on how to market their products and services to the prime contractors in this directory. To locate an SBTA <a href="http://www.gsa.gov/portal/staffDirectory/topic/37@@" target="_blank">click here</a>.</p>
            <button data-ng-click="getData()" class="btn btn-primary top-action-button">View All Contractors</button>

            <p><strong>Who the GSA Subcontracting Directory is for</strong>: The GSA Subcontracting Directory is published for small business concerns seeking subcontracting opportunities with General Services Administration (GSA)
                prime contractors.The directory lists large business prime contractors who, by law, are required to establish plans and goals for subcontracting with small business firms.</p>
            <p><strong>Vendors listed in the directory:</strong></p>
            <ul>
                <li>Large prime contractors who have received &nbsp;federal contracts, other than construction, valued at over $650,000</li>
                <li>Large prime contractors who have received federal contracts for construction valued at over $1.5 million</li>
            </ul><br>
            <p><strong>How to use the Subcontracting Directory</strong>: Eligible GSA contractors are listed alphabetically by name within each of the eleven GSA regions. Each listing contains:</p>
            <ul>
                <li>Vendor Name</li>
                <li>Vendor Address</li>
                <li>Vendor Phone Number</li>
                <li>Place of Performance</li>
                <li>NAICS Code</li>
                <li>NAICS Description</li>
                <li>Product/service Code</li>
                <li>Product/service Code Description</li>
                <li>Action Obligation</li>
                <li>PIID (Contract Number)</li>
                <li>Date Signed</li>
                <li>Effective Date</li>
                <li>Estimated Completion Date</li>
            </ul>
            <p>Small businesses are encouraged to contact prime contractors directly for subcontracting opportunities.</p>
            <p><strong>Regional assistance: </strong>Looking beyond the directory? The eleven regional <a href="http://www.gsa.gov/portal/staffDirectory/topic/37@@">GSA Small Business Centers</a> can provide assistance in obtaining more information regarding these opportunities.</p>
            <p>If you want insight into what GSA expects from prime contractors when crafting a subcontracting agreement, review GSA's template <a href="/portal/getMediaData?mediaId=189127">model subcontracting plan</a> (<a href="/portal/getMediaData?mediaId=189123">Section 508 compliant version</a>), which it offers to prime contractors to help them frame their objectives.</p>
            <p>The shortcut to this page is www.gsa.gov/subdirectory.</p>
            <button data-ng-click="getData()" class="btn-block btn btn-primary">View All Contractors</button>
        </div>

        <!-- RESULTS -->
        <div id="load-display" style="display: none"><img src="images/ball-triangle.svg" class="img-responsive"></div>
        <div id="results">
            <aside id="search-result-display">
                <div class="row">
                    <h4 class="col-md-6">Displaying <b>{{(contracts | filter:search).length }}</b> results:</h4>
                    <div class="form-group col-md-3">
                        <small>items per page:</small>
                        <select data-ng-model="pageSize">
                            <option value="10">10</option>
                            <option value="25" selected>25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-danger pull-right" data-ng-show="(contracts | filter:search).length > 0" href="#" data-ng-click="exportData()">Export to xls</button>
                    </div>
                </div>
                <section class="clearfix text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                </section>

                <div id="csv-export" style="display:none">
                    <table>
                        <thead>
                        <tr>
                            <th>Contractor</th>
                            <th>Phone</th>
                            <th>Company State</th>
                            <th>Performance City</th>
                            <th>Performance State</th>
                            <th>Performance Zip</th>
                            <th>NAICS Code</th>
                            <th>P/S Description</th>
                            <th>PIID</th>
                            <th>NAICS Description</th>
                            <th>Product Code</th>
                            <th>Street Address</th>
                            <th>City</th>
                            <th>Zip</th>
                            <th>Date Signed</th>
                            <th>Effective Date</th>
                            <th>Completion Date</th>
                            <th>Action Obligation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="contract in contracts | filter: search ">
                            <td>{{contract.contractor}}</td>
                            <td>{{contract.phone}}</td>
                            <td>{{contract.state}}</td>
                            <td>{{contract.performance_city}}</td>
                            <td>{{contract.performance_state}}</td>
                            <td>{{contract.performance_zip}}</td>
                            <td>{{contract.naics_code}}</td>
                            <td>{{contract.description}}</td>
                            <td>{{contract.piid}}</td>
                            <td>{{contract.naics_description}}</td>
                            <td>{{contract.product_code}}</td>
                            <td>{{contract.street}}</td>
                            <td>{{contract.city}}</td>
                            <td>{{contract.zip}}</td>
                            <td>{{contract.date_signed}}</td>
                            <td>{{contract.effective_date}}</td>
                            <td>{{contract.completion_date}}</td>
                            <td>{{contract.action_obligation}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </aside>

            <!-- Results -->
            <div class="result" dir-paginate="contract in contracts | filter : search | orderBy : 'contractor' | itemsPerPage: pageSize">
                <div class="well result">
                    <div class="row">
                        <div class="vcard col-sm-6">
                            <h4 class="fn" data-ng-bind-html="contract.contractor | highlight: search.contractor"></h4>
                            <p class="adr">
                                <span class="street-address">{{contract.street}}</span><br>
                                <span class="locality">{{contract.city}}</span>, <span class="region" data-ng-bind-html="contract.state | highlight: search.state"></span> <span class="postal-code">{{contract.zip}}</span><br>
                                <span data-ng-if="contract.phone != '()-'">{{contract.phone}}</span>
                            </p>
                        </div>
                        <div class="row col-sm-6 filterable-items">
                            <ul class="list-unstyled">
                                <li>NAICS Code: <span data-ng-bind-html="contract.naics_front | highlight: search.naics_front"></span>{{contract.naics_back}}</li>
                                <li>Performance Region: {{contract.region}}</li>
                                <li>Performance Place: {{contract.performance_city}}, <span data-ng-bind-html="contract.performance_state | highlight: search.performance_state"></span> {{contract.performance_zip}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row details" data-ng-show="showDetails">
                        <ul class="list-unstyled">
                            <li>P/S Description: <span data-ng-bind-html="contract.description | highlight: query"></span></li>
                            <li>PIID: {{contract.piid}}</li>
                            <li>Effective Date: {{contract.effective_date}}</li>
                            <li>Est. Completion: {{contract.completion_date}}</li>
                            <li>Action Obligation: {{contract.action_obligation}}</li>
                            <li>NAICS Description: {{contract.naics_description}}</li>
                            <li>Product or Service Code: {{contract.product_code}}</li>
                            <li>Date Signed: {{contract.date_signed}}</li>
                        </ul>
                    </div>
                   <span data-ng-click="showDetails = ! showDetails" class="open-icon glyphicon glyphicon-chevron-up" data-ng-class="{ 'glyphicon-chevron-down': ! showDetails }"></span>
                </div>
            </div>
            <!-- NO Results -->
            <div data-ng-show="(contracts | filter:search).length == 0">
                <h4 class="alert-warning">There are no results matching these search parameters</h4>
                <h4>Suggestions:</h4>
                <ul>
                    <li>Make sure all words are spelled correctly or numbers are entered properly</li>
                    <li>Use a different search term</li>
                    <li>Use more broad search terms</li>
                    <li>Contact <a href="mailto:somedude@gsa.gov">somedude@gsa.gov</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>


<script src="js/jquery-2.0.0.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.1.2.16.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/angular-sanitize.min.js"></script>
<script src="js/fileSaver.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/routers.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="js/slider.js"></script>
<script src="js/custom.js"></script>

<!-- resources
<div class="form-group">
    <label class="sr-only" for="location">Location</label>
    <input class="col-sm-12 form-control" id="location" type="text" data-ng-model="location" placeholder="City, State or Zip Code" data-typeahead="address for address in getLocation($viewValue)"
     data-typeahead-loading="loadingLocations" autocomplete="off">
</div>

!! end resources -->
</body>
</html>
















